
<div class="employee-item card text-center p-3">
    <div class="card-body">
        <h4 class="card-title">{{employee.name}}</h4><br>
        <p class="card-text">Salary: {{employee.salary}}</p>
        <p class="card-text">Number of leaves:
            <button class="employee-item__btn btn btn-outline-primary" (click)="increaseQuantity()">+</button>
            <span>{{employee.leaves}}</span>
            <button class="employee-item__btn btn btn-outline-primary" (click)="decreaseQuantity()" *ngIf="employee.leaves >= 1">-</button>
        </p>
        <p class="card-text">Experiences: {{employee.experience}}</p><br>
        <div>
            <button class="delete__btn btn btn-outline-primary" (click)="onDelete(employee.id)">Delete</button>
        </div>
    </div>  
</div>


